<%= form_for :questions, :url => :play do |f| %>
  <div class="question-boxes">
    <ul>
    <% retrieve_random_questions.each do |q| %>
      <li class="question-container">
        <%= f.label q[:question], q[:question] %>
        <% q[:answers].each do |a| %>
          <p>
            <%= f.radio_button(q[:question],a) %>
            <%= f.label(q[:question], a) %>
          </p>
        <% end %>
      </li>
    <% end %>
    <li class="question-container"><h1>Finished!</h1><%= submit_tag "Submit Answers" %></li>
    </ul>
  </div>
<% end %>
<script>
  $( document ).ready(function() {
    $('.question-boxes').unslider({
      delay: false
    });
  });
</script>
