<%= form_for :questions, :url => :play do |f| %>
  <div class="question-boxes">
    <ul>
    <% retrieve_random_questions.each.with_index do |q,i| %>
      <li class="question-container">
        <h1>Question <%= i+1 %></h1>
        <%= f.label q[:id], q[:question] %>
        <%= f.hidden_field q[:id], :value => q[:id] %>
        <% q[:answers].each do |a| %>
          <p>
            <%= f.radio_button(q[:id],a) %>
            <%= f.label(q[:id], a) %>
          </p>
        <% end %>
        <p><a href="#" class="unslider-arrow prev">&lt;--</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="unslider-arrow next">--&gt;</a></p>
      </li>
    <% end %>
      <li class="question-container">
        <h1>Finished!</h1>
        <%= submit_tag "Submit Answers" %>
        <p><a href="#" class="unslider-arrow prev">&lt;--</a></p>
      </li>
    </ul>
  </div>
<% end %>
<script>
  $( document ).ready(function() {
    var uS = $('.question-boxes').unslider({
      delay: false
    });

    $('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];

        //  Either do unslider.data('unslider').next() or .prev() depending on the className
        uS.data('unslider')[fn]();
    });
  });



</script>
