<h1>QUIZ</h1>

<%= form_for :questions, :url => :play do |f| %>
  <% retrieve_random_questions.each do |q| %>
    <div class="question-block">
      <div class="question">
        <%= f.label q[:question], q[:question] %>
      </div>
      <ul class="answers">
        <% q[:answers].each do |a| %>
          <li class="answer">
          <%= f.radio_button(q[:question],a) %>
          <%= f.label(q[:question], a) %>
          </li>
        <% end %>
      </ul>
      <br />
    </div>
  <% end %>
  <%= submit_tag "Submit Answers" %>
<% end %>
