<h1>DASHBOARD</h1>

<h2>Points: </h2>
<div style="margin: 5px; border: 3px solid #F00;">
  <ul>
    <li><h3> CURRENT POINTS: <%= current_user.current_points %> </h2></li>
    <li><h3> LIFETIME POINTS: <%= current_user.lifetime_points %> </h2></li>
</div>

<h2>QUIZ</h2>
<%= link_to "Play", :quiz %>

<h2>REWARDS</h2>
<%= link_to "Store", :store %><br/>
<%= link_to "Inventory", :inventory %>

<h2>Accounts:</h2>
<% current_user.accounts.each do |a| %>
<div style="margin: 5px; border: 3px solid #9EA900;">
  <ul>
    <li><b>Description:</b> <%= a.description %></li>
    <li><b>Balance:</b> £<%= a.balance %></li>
    <li><b>Interest Rate:</b> <%= a.interest_rate %>%</li>
  </ul>
</div>
<% end %>
<br />

<h2>Transfer Money:</h2>
<%= form_tag :transfers, :url => :transfers do %>
  <%= label_tag :from %>
  <%= collection_select(:transfer, :from, current_user.accounts.each, :id, :description)  %>
  <br />
  <%= label_tag :to %>
  <%= collection_select(:transfer, :to, current_user.accounts.each, :id, :description, {:selected => current_user.accounts.map(&:id)})  %>
  <br />
  <%= label_tag :amount %>
  <%= text_field_tag :amount %>

  <%= submit_tag "Transfer" %>
<% end %>

<h2>Tranfers:</h2>
<% current_user.transfers.each do |t| %>
<div style="margin: 5px; border: 3px solid #FFA500;">
  <ul>
    <li><b>Time:</b> <%= t.created_at %></li>
    <li><b>Sending Account ID:</b> <%= t.sender_id %></li>
    <li><b>Receiving Account ID:</b> <%= t.receiver_id %></li>
    <li><b>Amount:</b> £<%= t.amount %></li>
  </ul>
</div>
<% end %>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
