<h1>DASHBOARD</h1>
<h2>Accounts:</h2>
<% current_user.accounts.each do |a| %>
<div style="margin: 5px; border: 3px solid #9EA900;">
  <ul>
    <li><b>Type:</b> <%= a.description %></li>
    <li><b>Balance:</b> £<%= a.balance %></li>
    <li><b>Interest Rate:</b> <%= a.interest_rate %>%</li>
  </ul>
</div>
<% end %>
<br />

<%= form_for :transaction, :url => :transfer do |f| %>
  <%= f.label :from %>
  <%= f.text_field :from %>
  <br />
  <%= f.label :to %>
  <%= f.text_field :to %>
  <br />
  <%= f.label :amount %>
  <%= f.text_field :amount %>

  <%= f.submit "Transfer" %>
<% end %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
